services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "${APP_REST_PORT:-8000}:${APP_REST_PORT:-8000}"
    volumes:
      - .:/app
      - ./logs:/app/logs
    command: ./user-service
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - service-network

    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -f http://localhost:${APP_REST_PORT:-8000}/health || exit 1",
        ]
      interval: 5s
      timeout: 3s
      retries: 5

  migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    container_name: migrate
    command: ["up"]
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - service-network

  postgres:
    image: postgres:latest
    env_file: .env

    volumes:
      - postgres_data:/var/lib/postgresql

    command: |
      postgres
        -c log_statement=all
        -c log_min_duration_statement=0
        -c log_connections=on
        -c log_disconnections=on

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - service-network

  prometheus:
    image: prom/prometheus:v2.32.1
    container_name: prometheus
    ports:
      - "${PROM_PORT:-9090}:${PROM_PORT:-9090}"
    volumes:
      - ./configs/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - service-network 
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  grafana:
    image: grafana/grafana:8.3.3
    container_name: grafana
    ports:
      - "${GRAFANA_PORT:-3000}:${GRAFANA_PORT:-3000}"
    env_file:
      - .env
    volumes:
      - ./provisioning:/etc/grafana/provisioning
    depends_on:
      - prometheus
    networks:
      - service-network

volumes:
  postgres_data:

networks:
  service-network:
    driver: bridge
